.right {
    align-items: right;
    text-align: left;
    float: left;
    border: 1px solid black;
    background-color: burlywood;
    padding: 10px;
    color: black;
    display: grid;
  }

.left {
    align-items: left;
    border: 1px solid black;
    background-color: aquamarine;
    padding: 10px;
    display: grid;
    justify-items: left;
}


.box {
    background-attachment: fixed;
    overflow:scroll; 
    height:400px;
    background-color: aqua; 

}

.chats {
    background-color: cadetblue;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}
